body {
  background-color: aliceblue;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='20px'><text x='10' y='10' fill='%23ddd' font-size='14'>?</text></svg>");
  background-repeat: repeat;
  box-sizing: border-box;
  font-family: monospace;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

h1 {
  font-size: 64px;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.33;
  word-wrap: break-word;
}

button[type='submit'] {
  font-size: 13px;
}
